<div class="header-bar">
  <h1>Timeline</h1>
  <div class='sk-item-right'>
    <%= image_tag('notification.png', size: '33x33', align: 'center', style: 'vertical-align: -10px') %>

    <div class="ui dropdown">
      <button class="ui button ru_menu_button" style="border-radius: 1.5rem"><%= @initial %></button>
      <div class="menu">
        <div class="item"><a href="/logout">Log out</a></div>
      </div>
    </div>
  </div>
</div>
