<div class="ui container">
  <div class="ui grid">
    <div class="eight wide mobile column">
      <a href="/timeline/<%= @user.username %>">
        <button class="ui button">Me</button>
      </a>
    </div>
    <% @tracked_users.each do |tracked_user| %>
      <div class="eight wide mobile column">
        <a href="/timeline/<%= tracked_user.username %>">
          <button class="ui button"><%= tracked_user.first_name %></button>
        </a>
      </div>
    <% end %>
  </div>
</div>
